@charset "UTF-8";
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

hr{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
}

.obj1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.obj2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat center /contain ;
}

.knopka, .knopka2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.knopka:before{
    content: "";
    background: url('knopka-before.svg');
    background-size: contain;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

.knopka2:after{
    content: "";
    background: url('knopka-before.svg');
    background-size: contain;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.obj3{
    border: 4px solid red;
    width: 100%;
    height: 90%;
    display: flex;
}